
.mainHome .box-1 {
    width: 100%;
    height: 70vh;
    background-image: url('../../pic/jan-16-top-pic-ll-use-this-one.jpg');
    background-position: center;
    background-size: cover;
    align-items: center;
}
.mainHome .box-2 {
    width: 100%;
    height: 70vh;
    background-image: url('../../pic/linkedin-sales-navigator-4rvBjoQWERk-unsplash.jpg');
    background-position: center;
    background-size: cover;
    align-items: center;
}
.mainHome .box-3 {
    width: 100%;
    height: 70vh;
    background-image: url('../../pic/miningFarm.jpg');
    background-position: center;
    background-size: cover;
    align-items: center;
}
.mainHome .box-4 {
    width: 100%;
    height: 70vh;
    background-image: url('../../pic/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg');
    background-position: center;
    background-size: cover;
    align-items: center;
}
.box-1-items{
    position: relative;
    margin-left: 19%;
    padding-top: 100px;
    

}
.boxMe{
    display: none;
}
.box-1-items h1{
    color: white;
}
.plans .box {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.plans{
    padding: 30px;
    align-items: center;
}
.deposit{
    display: flex;
    justify-content: space-between;
    
}

.depositNow1{
    width: 50%;
    height: 50vh;
    background-image: url('../../pic/technologyearth.png');
    background-position: center;
    background-size: cover;
    color: white;
    align-items: center;
    justify-content: center;
}
.depositNow1 {
   display: block;
   justify-content: space-between;
   margin: 10px;
}

.depositGo{
    margin-left: 40px;
}
.depositGo h1{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.depositGo p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.planeHeader{
    margin-left: 30%;
    margin-bottom: 30px;
    color: white;
}
.nowDeposit{
    height: 15vh;
    margin-top: 30px;
}
.depositText{
    margin-left: 20px;
    padding: 20px;
}
.depositInNow{
    margin-left: 40px;
    margin-bottom: -40px;
}
.unlimited{
    color: yellow;
}
.otherText h1{
    color: yellow;
}
.otherText p{
    color: white;
}
.bitcoinImg img{
    width: 400px;
}
.otherPayit{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(71, 129, 255, 0.555);
    align-items: center;
    justify-content: center;
}
.otherText{
    width: 600px;
}
.howWork{
    display: flex;
    justify-content: center;
}
.howWork h1{
    color: white;
}
.aboutstart{
    width: 400px;
    justify-content: space-between;
    height: 50vh; 
    background-color: rgba(71, 129, 255, 0.555);
}
.start{
    padding: 30px;
    margin: 10px;
}
.start h4{
    padding: 30px;
    margin-left: 20%;
}
.aboutHowStart{
    margin-top: 30px;
}
.start img{
    margin-left: 40%;
    margin-top: -20px;
    border-radius: 50px;
}
.start h4{
    color: yellow;
}
.start p{
    line-height: 1.5em;
}
.otherText p{
    line-height: 1.5em;
}
.aboutHowStart{
    display: flex;

}
.start{
    margin: 5px;
}
.otherStartNow{
    display: flex;
}
.reffer{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.refferImg img{
    width: 500px;
}
.refferCommsion{
    width: 400px;
}
.paymentImg{
    display: flex;
    justify-content: space-between;
}
.payment h1{
    color: yellow;
    margin-left: 35%;
    padding: 20px;
}
.paymentImg img{
    border-radius: 50%;
}
.calculateLink{
    margin: 35px;
}
@media screen and ( max-width: 414px){
    .mainHome .box-1 {
        width: 100%;
        height: 30vh;
    }
    .mainHome .box-2 {
        width: 100%;
        height: 30vh;
    }
    .mainHome .box-3 {
        
        width: 100%;
        height: 30vh;
    }
    .mainHome .box-4 {
        width: 100%;
        height: 30vh;
    }
    .box-1-items{
        position: relative;
        margin-left: 19%;
        padding-top: 10px;
        
    
    }
    .getStartBtn{
        margin-top: 50px;
    }
    .box-1-items h1{
        font-size: 20px;
    }
    .box-1-items h4{
        font-size: 10px;
    }
    .plans h1{
        margin-left: 10px;
        margin-bottom: 30px;
        color: white;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .deposit{
        display: block;
        justify-content: space-between;
        
    }
    .depositNow1{
        width: 100%;
        height: 70vh;
        background-image: url('../../pic/technologyearth.png');
    }
    .depositGo{
        padding: 30px;
    }
    .depositInNow{
        margin-left: 40px;
        margin-bottom: 0px;
    }
    .depositText{
        margin-top: -30px;
        padding: 5px;
    }
    .depositGo h1{
        margin-top: -30px;
        font-size: 80px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .depositInNow{
        margin-top: -30px;
    }
    .bitcoinImg img{
        width: 200px;
        margin-left: 60px;
    }
    .otherPayit{
        margin: 30px;
        display: block;
        justify-content: space-between;
        background-color: rgba(71, 129, 255, 0.555);
        align-items: center;
        justify-content: center;
    }
    .otherText h1{
        font-size: 20px;
        margin-left: 30px;
    }
    .otherText{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .aboutHowStart{
        display: block;
    
    }
    .otherStartNow{
        display: block;
    }
    .reffer{
        padding: 10px;
        display: block;
        justify-content: space-between;
    }
    .refferImg img{
    width: 100%;
    }
    .paymentImg{
        margin-left: 50px;
        display: block;
        justify-content: space-between;
    }
    .payment h1{
        color: yellow;
        margin-left: 15%;
        padding: 10px;
    }
    .paymentImg img{
        width: 900px;
        margin: 20px;
    }

    .calculateLink{
        margin: 15px;
    }
    .start{
        padding: 0px;
        margin: 0px;
    }
    .depositInNow{
        margin-top: 10px;
    }
    .aboutstart{
        width: 350px;
        justify-content: space-between;
        height: 50vh;
        background-color: rgba(71, 129, 255, 0.555);
    }
    .refferCommsion{
        width: 250px;
    }
    .refferImg img{
        width: 300px;
    }
    .otherText h1{
        font-size: 15px;
    }
    .howItWork{
        margin-top: 40%;
    }
}